a{
    text-decoration: none;
    color: black;
}
.Nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
main{
    display: inline-flex;
    align-items: center;
}
.sign-in{
    background-color: rgb(50, 104, 255);
    height: 30px;
    width: 80px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.center-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.google{
    height: 220px;
    width: 320px;
}
.Search-box{
    height: 40px;
    width: 600px;
    padding-left: 38px;
    border-radius:25px;
    background-image: url(./icons/search.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 13px;
    border-style: solid;
    font-size: 15px;
}
footer{
    position:fixed;
    bottom: 0px; 
    width: 100%;
}
.footer-left{
    display: inline-flex;
    gap: 15px;
}
.footer-right{
    display: inline-flex;
    gap: 15px;
    margin-left: 850px;
}
.buttons{
    margin-top: 30px;
    display: flex;
    gap: 40px;
}
.bt1, .bt2{
    border-style: none;
    color: black;
    background-color: rgb(237, 217, 217);
    width: 160px;
    height: 40px;
    border-radius: 5px;
}
